.is-style-spacer-small {
	height: var(--wp--custom--spacing--block-gap--small) !important;
}

.is-style-spacer-medium {
	height: var(--wp--custom--spacing--block-gap--medium) !important;
}

.is-style-spacer-large {
	height: var(--wp--custom--spacing--block-gap--large) !important;
}