<!-- wp:template-part {"slug":"header-logo-title-nav-dark","tagName":"header","layout":{"inherit":false}} /-->

<!-- wp:group {"tagName":"main","layout": {"inherit":true},"align":"full","style":{"spacing":{"padding":{"bottom":"var(--wp--custom--spacing--block-gap--large)","top":"var(--wp--custom--spacing--block-gap--large)"}}},"backgroundColor":"white"} -->
<main class="wp-block-group alignfull has-white-background-color has-background" style="padding-bottom:var(--wp--custom--spacing--block-gap--large);padding-top:var(--wp--custom--spacing--block-gap--large);">
	<!-- wp:heading {"level":1,"className":"wp-block-post-title"} -->
	<h1 class="wp-block-post-title">Sorry! This content seems to be missing.</h1>
	<!-- /wp:heading -->

	<!-- wp:spacer {"className":"is-style-spacer-large"} -->
	<div style="height:100px" aria-hidden="true" class="wp-block-spacer is-style-spacer-large"></div>
	<!-- /wp:spacer -->

	<!-- wp:paragraph -->
	<p>It looks like nothing was found at this location. Maybe try a search?</p>
	<!-- /wp:paragraph -->

	<!-- wp:search {"label":"Search","buttonText":"Search","borderColor":"grey-dark"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns-separator-meta-dark","tagName":"footer","layout":{"inherit":false}} /-->