<!-- wp:template-part {"slug":"header-logo-title-nav-dark","tagName":"header","layout":{"inherit":false}} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true},"align":"full","style":{"spacing":{"padding":{"bottom":"0px","top":"var(--wp--custom--spacing--block-gap--large)"}}},"backgroundColor":"white"} -->
<main class="wp-block-group alignfull has-white-background-color has-background" style="padding-bottom:0px;padding-top:var(--wp--custom--spacing--block-gap--large);">
		<!-- wp:heading {"level":1,"fontSize":"x-large"} -->
		<h1 class="has-x-large-font-size">Blog</h1>
		<!-- /wp:heading -->

		<!-- wp:spacer {"className":"is-style-spacer-large"} -->
		<div style="height:100px" aria-hidden="true" class="wp-block-spacer is-style-spacer-large"></div>
		<!-- /wp:spacer -->

		<!-- wp:pattern {"slug":"maisie/query-grid-cards-image-title-excerpt-date"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns-separator-meta-dark","tagName":"footer","layout":{"inherit":false}} /-->