<!-- wp:template-part {"slug":"header-logo-title-nav-dark","tagName":"header","layout":{"inherit":false}} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"bottom":"var(--wp--custom--spacing--block-gap--large)"}}},"backgroundColor":"white"} -->
<main class="wp-block-group has-white-background-color has-background" style="padding-bottom:var(--wp--custom--spacing--block-gap--large);">
	<!-- wp:post-content {"className":"wp-block-post-content--narrow","layout":{"inherit":false}} /-->
</main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"maisie/-post-pagination"} /-->

<!-- wp:pattern {"slug":"maisie/-post-comments"} /-->

<!-- wp:template-part {"slug":"footer-columns-separator-meta-dark","tagName":"footer","layout":{"inherit":false}} /-->