.edit-post-visual-editor__post-title-wrapper + .is-root-container {
	> [data-align="full"] {
		> h1,
		> h2,
		> h3,
		> h4,
		> h5,
		> h6 {
			margin-left: var(--wp--custom--spacing--block-gap--medium);
			margin-right: var(--wp--custom--spacing--block-gap--medium);
			max-width: calc(100% - var(--wp--custom--spacing--block-gap--large));
		}
	}
}